/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



:root {
  --colorNiceForBackground:  linear-gradient(22deg, purple, yellow); 
  --lightPurple:  rgb(138, 121, 138); 
  --cl-niceLittleLighter: rgb(192, 254, 180);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--cl-niceLittleLighter);
}


.site {
  justify-self: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background: var(--cl-niceLittleLighter);
}
.grid {
  /* background-color: black; */
  width: fit-content;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  gap: 5px;
  border: none;
  
}

.grid button {
  font-size: 4rem;
  border: 0.5px solid grey;
  border-radius: 0.5rem;
  background-color: var(--lightPurple);
    
  }

.site button:hover {
  opacity: 0.5;
}

  .grid button:hover{
    opacity: 0.7;
    border:3px solid silver
  }

header {
    display: flex;
    justify-content: space-around;
    
}

#pl1, #pl2, .middle {
display: flex;
flex-direction: column;
align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer button, .winning button {
  border-radius: 1rem;
  border: none;
  background: var(--colorNiceForBackground);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.form input {
  border-radius: 1rem;
  margin-left: 1rem;
  text-align: left;
  background: var(--cl-niceLittleLighter);
  color: black;
  max-width: 15ch;
}

#player1, #player2 {
  background: var(--cl-niceLittleLighter);
  color: black;
  border-radius: 1rem;  
  max-width: 16ch;
}
.p1, .p2 {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  gap: 5px;
}

.inputTxt {
  margin-top: 1rem;
}

.active {
  background: var(--colorNiceForBackground);
}

.activePL {
  /* background: var(--colorNiceForBackground); */
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: var(--colorNiceForBackground);
}
  
.dial, .winning {
  margin: auto;
  border-radius: 2rem;
    background-color: var(--lightPurple);
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    
  }
  
  .winning::backdrop {
    background: var(--colorNiceForBackground);
  opacity: 0.7;
    
  }

  .dialWinBtn{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .dial::backdrop {
    background: var(--colorNiceForBackground);
  opacity: 0.7;
}


.letsPlay {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 40%;
  background: var(--colorNiceForBackground);
  opacity: 0.7;
}

@media (max-width: 600px) {
  dialog {
    font-size: 1rem;
  }
}